* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2{
    color: rgb(255, 255, 255);
}
h3{
    color: #a7a7a7;
}
body{
    background: #191a2e;
    font-family: 'Lato', sans-serif;
}
h4{
    font-weight: 400;
    color: rgb(255, 255, 255);
}
p{
    color: white;
}
svg{
    color: white;
}

.App{
    transition: all 0.5s ease;
}

.library-active{
    margin-left: 30%;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";

@media screen and (max-width: 768px){
    nav{
        margin: 0;
        padding: 1.5rem 1.5rem 0rem 1.5rem;
        button{
            z-index: 10;
        }
    }
    .library{
        width: 100%;
    }
    .time-control{
        width: 90%;
    }
    .play-control{
        width: 80%;
    }
    .song-container{
        img{
            width: 60%;
        }
    }
}